@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    /* --bg: rgba(6, 1, 19, 0.911); */
    --text: rgb(221, 227, 240)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--bg);
}